PORT=5001
NODE_ENV=production
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/telemedicine?retryWrites=true&w=majority
JWT_SECRET=change_this_jwt_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=https://your-frontend-domain.vercel.app
ADMIN_NAME=Platform Admin
ADMIN_EMAIL=admin@telemed.local
ADMIN_PASSWORD=Admin@123
